/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: left;
    font-weight: bold;
}



/* Header styles */
header {
    background-color: #efbc8b;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.header-icons {
  margin-bottom: 10px;
}

.header-icons img {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin: 0 20px; /* Adjust the spacing as needed */

}

.header-icons img:last-child {
  margin-right: 0;
}

.header-icons a {
  text-decoration: none; /* Remove the underline */
}

.telephone {
  font-size: 18px; /* Adjust the font size as needed */
  margin: 0;
  padding: 0;
}

.section-header {
  margin-left: 200px;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .section-header {
    margin-left: 50px;
    margin-top: 50px;  }
}

#about {
    padding: 50px 200px 50px 200px;
    background-color: #f8e4d1;
}

@media screen and (max-width: 800px) {
  #about {
padding: 30px 50px 30px 50px;
  }
}

@media screen and (max-width: 800px) {
  #carousel {
    max-width: 95vh;/* Adjust the margin as needed */
  }
}
/* Carousel styles */
#carousel {
    /* Add your carousel styles here */
}


/* Amenities styles */
#amenities {
    padding: 50px 200px 50px 200px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; /* Limit the section width to 1200px */
    margin: 0 auto;
  }
  
  .amenity {
    display: flex;
    flex-direction: row;
    flex-basis: 50%; /* Two columns by default */
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
  }

  .amenity img {
    height: 50px;
    width: auto;
  }

  .amenity-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  @media (max-width: 700px) {
    .amenity {
      flex-basis: 100%; /* One column for smaller screens */
    }
  }

/* Booking styles */
#booking {
    background-color: white;
    padding: 20px;
}

/* Reviews styles */
#reviews {
    background-color: #fff;
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #efbc8b;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: #888;
}
  
  /* .pic-ctn {
    width: 300px;
    height: 200px;
  } */
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    align-self: center;
    width: 70vw;
    height: 70vh;
    margin: 15px auto;
  }

  @media screen and (max-width: 600px) {
    .pic-ctn {
      height: 45vh;/* Adjust the margin as needed */
    }
  }

  @media screen and (max-width: 800px) {
    .pic-ctn {
      height: 55vh;/* Adjust the margin as needed */
    }
  }
  
  .pic-ctn > img {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 70vw;
    max-height: 70vh;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: display 20s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 4s;
  }
  img:nth-child(3) {
    animation-delay: 8s;
  }
  img:nth-child(4) {
    animation-delay: 12s;
  }
  img:nth-child(5) {
    animation-delay: 16s;
  }